<div class="container-fluid">
<!--  <div class="row">
    <div class="col">
      <h1>Site de réservation du domaine d'Anjou</h1>
    </div>
  </div>
-->  <div class="row">
    <div class="col-4">
      <img src="assets/images/tennis_vert.jpg" class="img-fluid rounded"/>
    </div>
    <div class="col">
      Bienvenue sur le site du tennis de domaine d'Anjou.
      <br><br>
      Vous pouvez via ce site, réserver vos heures de tennis sur le terrain du domaine d'Anjou en cliquant sur l'onglet "Occupation du terrain". 
      <br><br>Veuillez noter que cette section nécessite d'être authentifié sur le site.<br>
      Pour pouvoir vous authentifier, vous devrez recevoir un nom d'utilisateur et un mot de passe. <br>
      Si vous n'en bénéficiez pas encore, veuillez envoyer un e-mail à un des deux administrateurs du site : <A HREF="mailto:philippe.destrais@gmail.com">Philippe Destrais</A> ou <A HREF="mailto:patrick.delava@skynet.be">Patrick Delava</A>.
      Veuillez indiquer votre nom, prénom, ainsi que votre adresse dans le domaine.<br>
      Vous serez alors enregistrés dans la liste des membres, recevrez votre nom d'utilisateur et un mot de passe initial (que vous pourrez changer par la suite).
      <br><br>
      L'onglet "membres" vous permettra également de consulter la liste des membres, et si vous le souhaitez, modifier vos données personnelles et votre mot de passe.
    </div>
  </div>
</div>
